/* style.css */
body {
    text-align: center;
    min-width: 750px;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.logo {
    width: 200px;
    margin-top: 12px;
}

#title {
    color: black;
    margin: 20px 0;
}

.demo-image {
    width: 80%;
    min-width: 600px;
    margin-top: 12px;
}